<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Helper - Camera</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!--- Hidden redirect forms -->
        <form id="redirectScan" action="/receipt_scan" method="GET" style="display:none;"></form>
        <form id="redirectList" action="/redirect_list" method="GET" style="display:none;"></form>

        <img class="center-alt" src="../static/res/title.png" alt="Title Image" style="width: calc(min(800px, 64%)); height: auto; top: 20vh;">

        <div style="display: flex; flex-direction: column; align-items: center; gap: 10vh; margin-top: 40vh;">

            <button onclick="redirectToScan()" class="hyper_button" onmouseover="this.style.transform='scale(1.04)'; this.style.backgroundColor='var(--dusk)'; this.style.color='var(--lime3)'" onmouseout="this.style.transform='scale(1)'; this.style.backgroundColor='var(--invis)'; this.style.color='var(--dusk)'">
                Scan Receipt
            </button>
    
            <button onclick="redirectToList()" class="hyper_button" onmouseover="this.style.transform='scale(1.04)'; this.style.backgroundColor='var(--dusk)'; this.style.color='var(--lime3)'" onmouseout="this.style.transform='scale(1)'; this.style.backgroundColor='var(--invis)'; this.style.color='var(--dusk)'">
                Shopping List
            </button>

        </div>
          

    </div>

    <script>
        function redirectToScan() {
            document.getElementById('redirectScan').submit();
        }
        function redirectToList() {
            document.getElementById('redirectList').submit();
        }
    </script>
</body>
</html>