<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Helper - Camera</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scan.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800;900&display=swap" rel="stylesheet">
</head>
<body>

    <script src="{{ url_for('static', filename='js/notification_center.js') }}"></script>

    <div class="nav">
        <img class="wave" src="../static/res/wave.svg">
        <a href="/"><img src="../static/res/title.png"></a>
    </div>



    <div class="container">

        <h1 style="margin: 0;">Let's see your receipt!</h1>
        <p style="font-style: italic; color: var(--dusk); font-family: Arial, Helvetica, sans-serif; align-self: center; text-align: center; margin-top: 0; width: 100vw">We'll do the rest.</p>

        <div class="loadParent">
            <div id="load" style="display: flex; flex-direction: column; position: relative; justify-content: center; scale: 1.5;">
                <div style="align-self: center; transform: translateX(-15%)">
                    <div id="loading">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <svg width="80" height="80" xmlns="http://www.w3.org/2000/svg" viewBox="50 50 100 50" style="position: absolute; top: -20px">
                        <path d="M93 78C71 78 53 67 67 67 88 67 99 67 121 67 135 67 115 78 93 78" fill="var(--dusk)"/>
                    </svg>
                </div>
                <p style="color: var(--dusk); font-size: 0.8rem; margin-top: 25%; font-family: Arial, Helvetica, sans-serif">Powering up your webcam...</p>
            </div>
        </div>

        <!-- Video element to show the camera stream -->
        <img id="video" class="center-alt" src="{{ url_for('video_feed') }}" style="display: none">
        <img id="video-static" style="display: none" class="center-alt" src="">
        <button id="snap" class="button circle"><div></div></button>

        <!-- Canvas to capture the photo -->
        <canvas id="canvas" style="display:none;"></canvas>

        <!-- Form to upload the photo -->
        <form id="uploadForm" action="/process-receipt" method="POST" enctype="multipart/form-data" style="display:none;">
            <button type="submit" class="arrow">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="75 72 35 35" width="37px" height="63px" fill="var(--dusk)" aria-hidden="true">
                    <path d="M83 66C91.3333 74.3333 99.6667 82.6667 108 91 99.6667 99.3333 91.3333 107.6667 83 116 81 113.3333 79 110.6667 77 108 82.6667 102.3333 88.3333 96.6667 88 91 88.3333 85.3333 82.6667 79.6667 77 74"></path>
                </svg>
            </button>
            <input type="hidden" id="imageData" name="imageData">
        </form>

    </div>

    <script>
        const video = document.getElementById('video');
        const videoStatic = document.getElementById("video-static");
        const canvas = document.getElementById('canvas');
        const snap = document.getElementById('snap');
        const uploadForm = document.getElementById('uploadForm');
        const imageDataInput = document.getElementById('imageData');

        // Event listener for when the video feed is loaded
        video.addEventListener('load', () => {
            console.log("Video feed has loaded");
            // You can add any other code you want to execute here
            // For example, hide loading animation or make the snap button active
            video.style.display = 'block';
            document.getElementById('load').style.display = 'none'; // Hide loading animation
            snap.disabled = false; // Enable the snapshot button
        });

        // Capture the photo
        snap.addEventListener("click", () => {

            document.body.classList.toggle("flash",true);

            const context = canvas.getContext('2d');
            canvas.width = video.getBoundingClientRect().width;
            canvas.height = video.getBoundingClientRect().height;
            context.drawImage(video, 0, 0, canvas.width, canvas.height);

            // Hide video and show canvas
            video.style.display = 'none';
            canvas.style.display = 'block';

            snap.classList.toggle("active",true);

            // Convert the photo to a base64 string
            const imageData = canvas.toDataURL('image/png');
            imageDataInput.value = imageData;

            // Show the upload form
            uploadForm.style.display = 'block';

            videoStatic.style.display = 'block';
            video.style.display = 'none';
            video.src = "";
            videoStatic.src = "{{ url_for('video_feed_static') }}"

        });
    </script>
</body>
</html>