<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/show_photo.css') }}">
    <title>Uploaded Receipt</title>
</head>
<body>

    <script src="{{ url_for('static', filename='js/notification_center.js') }}"></script>

    <div class="nav">
        <img class="wave" src="../static/res/wave.svg">
        <a href="/"><img src="../static/res/title.png"></a>
    </div> 

    <div class="container">
        <div class="receipt">
            <div class="top-bar">
                <a class="back-button" href="/receipt_scan"><div><img src="https://img.icons8.com/quill/100/reply-arrow.png" alt="reply-arrow"/></div></a>
            </div>
            <div class="spacer"></div>
            <img id="uploaded-img" src="{{ url_for('static', filename=filename) }}" alt="Uploaded Receipt">
            <p id="uploaded">Uploaded at </p>
        </div>
        <div class="list">
            <h1>Your Groceries</h1>
            <div class="loadParent">
                <div id="load" style="display: flex; flex-direction: column; position: relative; justify-content: center; scale: 1.5;">
                    <div style="align-self: center; transform: translateX(-15%)">
                        <div id="loading">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <svg width="80" height="80" xmlns="http://www.w3.org/2000/svg" viewBox="50 50 100 50" style="position: absolute; top: -20px">
                            <path d="M93 78C71 78 53 67 67 67 88 67 99 67 121 67 135 67 115 78 93 78" fill="var(--dusk)"/>
                        </svg>
                    </div>
                    <p>Analyzing your receipt...</p>
                </div>
            </div>
            <p id="ocrText"></p>
            <div class="items">
                <div class="item" id="item-template" style="display: none">
                    <p class="color-dot">•</p>
                    <div class="text">
                        <p class="name">Grocery Name</p>
                        <p class="shelf">Shelf Life</p>
                    </div>
                    <div class="price">
                        <p class="price">Price</p>
                    </div>
                    <div class="color-flag"></div>
                </div>
            </div>
            <p id="total-label"></p>
            <p id="date-label"></p>
        </div>
    </div>

    <script>

        date = (() => { const now = new Date(); let hours = now.getHours(); return `${now.getMonth()+1}/${now.getDate()}/${now.getFullYear().toString().slice(-2)} at ${hours % 12 || 12}:${now.getMinutes().toString().padStart(2, '0')}${hours >= 12 ? 'PM' : 'AM'}`; })();
        document.getElementById("uploaded").textContent = "Uploaded on " + date;

        function hexToLuminance(hex) {
            // Remove the # if present
            hex = hex.replace('#', '');
            
            // Parse the R, G, B components
            let r = parseInt(hex.substring(0, 2), 16);
            let g = parseInt(hex.substring(2, 4), 16);
            let b = parseInt(hex.substring(4, 6), 16);

            // Calculate perceived luminance using your formula
            let Y = (r + r + b + g + g + g) / 6;

            return Y;
        }

        const itemTemplate = document.getElementById("item-template");
        const itemsDiv = document.querySelector(".items");
        const dateLabel = document.getElementById("date-label");
        const totalLabel = document.getElementById("total-label");

        // Fetch OCR data after the page loads
        window.onload = function() {
            fetch('/get_ocr_data', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('load').style.display = 'none';

                // Process and display the extracted OCR data
                const ocrTextElement = document.getElementById('ocrText');
                if (data.error) {
                    ocrTextElement.innerHTML = "Error: " + data.error;
                } else {
                    // Format the extracted items
                    var i = 0;
                    var total = 0;
                    data.items.forEach(item => {
                            const newItem = itemTemplate.cloneNode(true);

                            newItem.querySelector(".name").textContent = item.name;
                            if(item.shelf_life != 'N/A') {
                                newItem.querySelector(".shelf").textContent = `Shelf Life: ${item.shelf_life} days`;
                            } else {
                                newItem.querySelector(".shelf").remove();
                            }
                            newItem.querySelector(".price").textContent = `${item.price}`;

                            newItem.querySelector(".color-flag").style.backgroundColor = item.color;
                            newItem.querySelector(".color-dot").style.color = item.color;

                            // Adjust shadow on dot & opacity depending on luminance
                            const y = hexToLuminance(item.color);
                            newItem.querySelector(".color-dot").style.filter = 'brightness(' + (0.25*((255-y)/255)+0.75) + ')';
                            newItem.querySelector(".color-flag").style.opacity = 0.2 + (y/255/5);

                            console.log(item.name + ": " + item.color);

                            itemsDiv.appendChild(newItem);
                            newItem.style.display = "flex";

                            setTimeout(function(){
                                newItem.style.opacity = 1;
                                newItem.style.transform = 'none';
                            },50+i*75);
                            i++;

                            total += parseFloat(item.price.replace("$",""));

                            // Add to notification center
                            console.log("ADDING1");
                            if(item.shelf_life != "N/A") {
                                console.log("ADDING2");
                                if(parseFloat(item.shelf_life) <= 30) {
                                    console.log("ADDING3");
                                    const date = new Date(); // Current date
                                    const days = parseInt(item.shelf_life); // Assuming item.shelf_life is the number of days
                                    if (!isNaN(days)) {
                                        date.setDate(date.getDate() + days);
                                    }
                                    
                                    const month = date.getMonth() + 1; // getMonth() returns 0-11, so we add 1
                                    const day = date.getDate(); // getDate() returns the day of the month
                                    const year = date.getFullYear();
                                    
                                    formatted_date = `${year}-${month}-${day}`; // Format the date as "MM/DD"
                                    console.log("JERJEKLRDJKFLKF");
                                    addNotification({
                                        title: item.name + ' expiring' + (item.shelf_life < 15 ? (item.shelf_life < 5 ? (item.shelf_life <= 1 ? " today" : " very soon") : " soon") : ""),
                                        subtitle: 'Your ' + item.name + " will expire on " + formatted_date,
                                        date: formatted_date, // Future date
                                        color: item.color, // Orange
                                    });
                                }
                            }
                        
                    });
                    date = (() => { const now = new Date(); let hours = now.getHours(); return `${now.getMonth()+1}/${now.getDate()}/${now.getFullYear().toString().slice(-2)} ${hours % 12 || 12}:${now.getMinutes().toString().padStart(2, '0')}${hours >= 12 ? 'PM' : 'AM'}`; })();
                    if (data.date != "N/A") {
                        date = date
                    }
                    dateLabel.textContent = 'Transaction occured on: ' + date;
                    totalLabel.textContent = 'You spent $' + total;

                    setTimeout(function(){
                        dateLabel.style.opacity = 1;
                        totalLabel.style.opacity = 1;
                    },1000);

                }
            })
            .catch(error => {
                document.getElementById('load').innerHTML = "Failed to load OCR data. Error: " + error;
            });
        };
    </script>

</body>
</html>